In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
with open("ex4.txt") as f:
    data = [line.split("\n")[0] for line in f]

In [3]:
times = [line.split('[')[1].split(']')[0] for line in data]

In [4]:
data_ = [line.split('] ')[1] for line in data]

In [5]:
clean = []

for line in data_:
    if line.split(' ')[0] == 'Guard':
        clean = clean + [line.split(' ')[1]]
    if line.split(' ')[0] == 'falls':
        clean = clean + [0]
    if line.split(' ')[0] == 'wakes':
        clean = clean + [1]
        
clean_ = np.array([clean])
times_ = np.array([times])

In [6]:
total = np.concatenate((times_,clean_),axis=0).transpose()

In [7]:
df = pd.DataFrame(total)
df.head()

                  0      1
0  1518-11-22 00:00  #1231
1  1518-04-13 00:00      0
2  1518-09-09 00:02      0
3  1518-04-06 00:58      1
4  1518-04-28 00:19      0

In [8]:
df_t = df.sort_values(0)

In [9]:
ids = []
column = np.array(df_t[1])
for i in column:
    if i[0] == '#':
        id = i
        ids = ids + [id]
    else:
        ids = ids + [id]

In [10]:
df_t['ids'] = ids
df_t.columns = ['time','asleep','ids']

In [11]:
df_drop = df_t[(df_t.asleep == '0') | (df_t.asleep == '1')]
guards = pd.unique(df_drop['ids'])
gaurds

NameError: name 'gaurds' is not defined

In [19]:
def asleep(df_drop,guards,i):
    guard_df = df_drop.loc[df_drop['ids'] == guards[i]].reset_index()
    asleep_list = [int(e.split()[-1].split(':')[-1]) for e in guard_df['time']]
    return asleep_list
#print(guard_df.head(100))

In [20]:
def calc_total(asleep):
    total_time_asleep = []
    for i,e in enumerate(asleep):
        if i % 2 == 1:
            total_time_asleep.append(asleep[i] - asleep[i-1])
    return sum(total_time_asleep)

In [30]:
guard_totals = [(calc_total(asleep(df_drop,guards,i)),e) for i,e in enumerate(guards)]
guard_totals

[(452, '#1033'),
 (488, '#1901'),
 (493, '#1021'),
 (284, '#2447'),
 (182, '#2383'),
 (408, '#1193'),
 (313, '#1297'),
 (182, '#3499'),
 (402, '#1231'),
 (487, '#2729'),
 (269, '#2129'),
 (262, '#419'),
 (272, '#1993'),
 (155, '#2539'),
 (136, '#2963'),
 (387, '#3119'),
 (287, '#2707'),
 (399, '#1171'),
 (185, '#1553'),
 (526, '#3371')]

In [ ]:
#3371 - 526

In [84]:
def get_time_array(df_drop,guards,idx):
    time = np.array([0 for i in range(60)])

    times_asleep = asleep(df_drop,guards,idx)
    total_3371 = calc_total(times_asleep)
    #print(total_3371)
    for i,t in enumerate(times_asleep):
        if i % 2 == 1:
            r = [j for j in range(times_asleep[i-1],times_asleep[i])]
            time[r] +=1 
    return time
print((np.argmax(get_time_array(df_drop,guards,len(guards)-1))) * 3371)

print(time)

131469
[ 0  1  1  1  2  2  4  4  6  6  6  6  6  7  9 10 11 11 11 12 12 12 12 13
 12 12 12 10 10 10 11 11 12 13 12 12 12 12 12 14 13 13 11 12 12 12 12 12
 11 11  9  8  8  8  6  6  6  4  0  0]

In [87]:
all_time = np.array([get_time_array(df_drop,guards,i) for i,e in enumerate(guards)])

In [89]:
all_time.shape

(20, 60)

In [93]:
np.argmax(all_time,axis=1)

array([48, 51, 29, 41, 15, 32, 33, 36, 18, 43, 45, 11, 34, 44, 10, 36, 47,
       24, 17, 39])

In [96]:
np.max(all_time,axis=1)

array([12, 19, 15, 11,  6, 12, 10,  6, 11, 15,  8,  7,  9,  7,  4, 13, 10,
       12,  5, 14])

In [98]:
guards

array(['#1033', '#1901', '#1021', '#2447', '#2383', '#1193', '#1297',
       '#3499', '#1231', '#2729', '#2129', '#419', '#1993', '#2539',
       '#2963', '#3119', '#2707', '#1171', '#1553', '#3371'], dtype=object)

In [99]:
1901*51

96951